@page "/dashboard"
@rendermode InteractiveServer

@implements IDisposable

@inject IdentityUserAccessor UserAccessor
@inject NavigationManager NavigationManager
@inject ClipboardService ClipboardService
@inject IUserService UserService
@inject IDialogService DialogService
@inject IReadingsService RS
@inject IGraphsService GS
@inject IToastService ToastService

@attribute [Authorize]

<PageTitle>Dashboard</PageTitle>

<FluentLabel Typo="Typography.H3">Dashboard</FluentLabel>

<FluentStack Style="margin-top: 1em;">
    <FluentButton Style="margin-top: 0.6em;" BackgroundColor="green" Color="white" Appearance="Appearance.Accent" OnClick="CreateApiKey">Create new API Key</FluentButton>
    @if (ApiKey is not null)
    {
        <FluentAccordion Style="margin-left: 1em; width: 40%;">
            <FluentAccordionItem Style="background-color: green;" Heading="Your API key">
                @ApiKey
                <FluentIcon Id="apiKeyTooltipIcon" OnClick="CopyToClipboard" Style="cursor: pointer;" Icon="Icons.Regular.Size20.Copy" />
                <FluentTooltip Anchor="apiKeyTooltipIcon">Click to copy API key.</FluentTooltip>
            </FluentAccordionItem>
        </FluentAccordion>

        <FluentButton Style="margin-top: 0.6em;" BackgroundColor="green" Color="white" Appearance="Appearance.Accent" OnClick="DeleteApiKey">Delete your API key.</FluentButton>
    }
    else
    {
        <FluentLabel Style="margin-left: 1em; margin-top: 0.6em;">You do not have an existing API key. Click the button to create one.</FluentLabel>
    }
</FluentStack>

<FluentDivider Style="margin-top: 1em;" />

<FluentLabel Typo="Typography.H3">Sensor data</FluentLabel>

<FluentStack Style="margin-top: 1em;" Orientation="Orientation.Vertical">
    <FluentStack>
        <FluentButton BackgroundColor="green" Color="white" Appearance="Appearance.Accent" OnClick="AddGraph">Add data graph</FluentButton>
        <FluentButton BackgroundColor="green" Color="white" Appearance="Appearance.Accent" OnClick="AddTable">Add data table</FluentButton>
        <FluentButton BackgroundColor="green" Color="white" Appearance="Appearance.Accent" OnClick="AddBinaryGraph">Add binary graph</FluentButton>
        <FluentButton BackgroundColor="green" Color="white" Appearance="Appearance.Accent" OnClick="SetupEmailNotification">Set up email notification</FluentButton>
        @if (EmailNotifications.Any())
        {
            <FluentButton BackgroundColor="green" Color="white" Appearance="Appearance.Accent" OnClick="OpenEmailNotificationsDialog">Open email notifications</FluentButton>
        }
        @if (DistanceReadings.Any())
        {
            <FluentButton BackgroundColor="red" Color="white" Appearance="Appearance.Accent" OnClick="RemoveDistanceReadings">Remove Distance Readings</FluentButton>
        }
        @if (LuminosityReadings.Any())
        {
            <FluentButton BackgroundColor="red" Color="white" Appearance="Appearance.Accent" OnClick="RemoveLuminosityReadings">Remove Luminosity Readings</FluentButton>
        }
        @if (TemperatureReadings.Any())
        {
            <FluentButton BackgroundColor="red" Color="white" Appearance="Appearance.Accent" OnClick="RemoveTemperatureReadings">Remove Temperature Readings</FluentButton>
        }
        @if (VelocityReadings.Any())
        {
            <FluentButton BackgroundColor="red" Color="white" Appearance="Appearance.Accent" OnClick="RemoveVelocityReadings">Remove Velocity Readings</FluentButton>
        }
        @if (HumidityReadings.Any())
        {
            <FluentButton BackgroundColor="red" Color="white" Appearance="Appearance.Accent" OnClick="RemoveHumidityReadings">Remove Humidity Readings</FluentButton>
        }
    </FluentStack>


    
</FluentStack>

<FluentDivider Style="margin-top: 1em; margin-bottom: 1em;" />

<FluentStack Orientation="Orientation.Vertical">
    <Charts Graphs="Graphs"
            DistanceReadings="DistanceReadings"
            LuminosityReadings="LuminosityReadings"
            TemperatureReadings="TemperatureReadings"
            VelocityReadings="VelocityReadings"
            HumidityReadings="HumidityReadings"
            OnRemoveGraph="RemoveGraph" />

    <FluentStack Orientation="Orientation.Vertical">
        @foreach (var table in Tables)
        {
            if (!table.IsBinary)
            {
                switch (table.ReadingType)
                {
                    case ReadingType.Distance:
                        <FluentStack>
                            <FluentDataGrid Items="@DistanceReadings.Where(dr => dr.SensorName == table.SensorName).AsQueryable()">
                                <PropertyColumn Title="Distance" Property="@(t => t.Distance)" Sortable="true" />
                                <PropertyColumn Title="Time of measurement" Property="@(t => t.TimeOfMeasurement.ToLocalTime().DateTime)" Sortable="true" />
                                <PropertyColumn Title="Sensor name" Property="@(t => t.SensorName)" Sortable="true" />
                            </FluentDataGrid>
                            <FluentButton BackgroundColor="red" Color="white" Appearance="Appearance.Accent" OnClick="@(e => RemoveTable(table.Id))">Remove Table @table.Name</FluentButton>
                        </FluentStack>
                        break;
                    case ReadingType.Luminosity:
                        <FluentStack>
                            <FluentDataGrid Items="@LuminosityReadings.Where(lr => lr.SensorName == table.SensorName).AsQueryable()">
                                <PropertyColumn Title="Luminosity" Property="@(t => t.Luminosity)" Sortable="true" />
                                <PropertyColumn Title="Time of measurement" Property="@(t => t.TimeOfMeasurement.ToLocalTime().DateTime)" Sortable="true" />
                                <PropertyColumn Title="Sensor name" Property="@(t => t.SensorName)" Sortable="true" />
                            </FluentDataGrid>
                            <FluentButton BackgroundColor="red" Color="white" Appearance="Appearance.Accent" OnClick="@(e => RemoveTable(table.Id))">Remove Table @table.Name</FluentButton>
                        </FluentStack>
                        break;
                    case ReadingType.Temperature:
                        <FluentStack>
                            <FluentDataGrid Items="@TemperatureReadings.Where(tr => tr.SensorName == table.SensorName).AsQueryable()">
                                <PropertyColumn Title="Temperature" Property="@(t => t.Temperature)" Sortable="true" />
                                <PropertyColumn Title="Time of measurement" Property="@(t => t.TimeOfMeasurement.ToLocalTime().DateTime)" Sortable="true" />
                                <PropertyColumn Title="Sensor name" Property="@(t => t.SensorName)" Sortable="true" />
                            </FluentDataGrid>
                            <FluentButton BackgroundColor="red" Color="white" Appearance="Appearance.Accent" OnClick="@(e => RemoveTable(table.Id))">Remove Table @table.Name</FluentButton>
                        </FluentStack>
                        break;
                    case ReadingType.Velocity:
                        <FluentStack>
                            <FluentDataGrid Items="@VelocityReadings.Where(vr => vr.SensorName == table.SensorName).AsQueryable()">
                                <PropertyColumn Title="Velocity" Property="@(t => t.Velocity)" Sortable="true" />
                                <PropertyColumn Title="Time of measurement" Property="@(t => t.TimeOfMeasurement.ToLocalTime().DateTime)" Sortable="true" />
                                <PropertyColumn Title="Sensor name" Property="@(t => t.SensorName)" Sortable="true" />
                            </FluentDataGrid>
                            <FluentButton BackgroundColor="red" Color="white" Appearance="Appearance.Accent" OnClick="@(e => RemoveTable(table.Id))">Remove Table @table.Name</FluentButton>
                        </FluentStack>
                        break;
                    case ReadingType.Humidity:
                        <FluentStack>
                            <FluentDataGrid Items="@HumidityReadings.Where(hr => hr.SensorName == table.SensorName).AsQueryable()">
                                <PropertyColumn Title="Humidity" Property="@(t => t.Humidity)" Sortable="true" />
                                <PropertyColumn Title="Time of measurement" Property="@(t => t.TimeOfMeasurement.ToLocalTime().DateTime)" Sortable="true" />
                                <PropertyColumn Title="Sensor name" Property="@(t => t.SensorName)" Sortable="true" />
                            </FluentDataGrid>
                            <FluentButton BackgroundColor="red" Color="white" Appearance="Appearance.Accent" OnClick="@(e => RemoveTable(table.Id))">Remove Table @table.Name</FluentButton>
                        </FluentStack>
                        break;
                }
            }
            else
            {
                <FluentStack>
                    <FluentDataGrid Items="@BinaryReadings.Where(br => br.SensorName == table.SensorName).AsQueryable()">
                        <PropertyColumn Title="Binary" Property="@(b => b.Binary)" Sortable="true" />
                        <PropertyColumn Title="Reading type" Property="@(b => b.ReadingType)" Sortable="true" />
                        <PropertyColumn Title="Time of measurement" Property="@(b => b.TimeOfMeasurement.ToLocalTime().DateTime)" Sortable="true" />
                        <PropertyColumn Title="Sensor name" Property="@(b => b.SensorName)" Sortable="true" />
                    </FluentDataGrid>
                    <FluentButton BackgroundColor="red" Color="white" Appearance="Appearance.Accent" OnClick="@(e => RemoveTable(table.Id))">Remove Table @table.Name</FluentButton>
                </FluentStack>
            }
        }
        @foreach (var graph in BinaryGraphs)
        {
            if (BinaryReadings.Count > 0 && new List<BinaryReading> { BinaryReadings.Where(br => br.SensorName == graph.SensorName && br.ReadingType == graph.ReadingType).OrderByDescending(br => br.TimeOfMeasurement).First() }.Count > 0)
            {
                BinaryReading item = new List<BinaryReading> { BinaryReadings.Where(br => br.SensorName == graph.SensorName && br.ReadingType == graph.ReadingType).OrderByDescending(br => br.TimeOfMeasurement).First() }.First();
                <FluentStack>
                    @if (item.Binary == 1)
                    {
                        <span style="height: 250px; width: 250px; background-color: red; border-radius: 50%; display: inline-block;"><strong>@item.SensorName</strong></span>
                    }
                    else if (item.Binary == 0)
                    {
                        <span style="height: 250px; width: 250px; background-color: green; border-radius: 50%; display: inline-block;"><strong>@item.SensorName</strong></span>
                    }
                    else
                    {
                        <span style="height: 250px; width: 250px; background-color: grey; border-radius: 50%; display: inline-block;"></span>
                    }
                    <FluentButton BackgroundColor="red" Color="white" Appearance="Appearance.Accent" OnClick="@(e => RemoveBinaryGraph(graph.Id))">Remove Graph @graph.Name</FluentButton>
                </FluentStack>
            }
        }
    </FluentStack>
</FluentStack>


@code {
    private ApplicationUser user = default!;

    private string? ApiKey { get; set; }

    CancellationTokenSource cts = new();

    private List<GraphItem> Graphs { get; set; } = new();
    private List<TableItem> Tables { get; set; } = new();
    private List<BinaryGraphItem> BinaryGraphs { get; set; } = new();
    private List<DistanceReading> DistanceReadings { get; set; } = new();
    private List<LuminosityReading> LuminosityReadings { get; set; } = new();
    private List<TemperatureReading> TemperatureReadings { get; set; } = new();
    private List<VelocityReading> VelocityReadings { get; set; } = new();
    private List<BinaryReading> BinaryReadings { get; set; } = new();
    private List<HumidityReading> HumidityReadings { get; set; } = new();
    private List<EmailNotification> EmailNotifications { get; set; } = new();

    private Timer? timer;

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync();
        ApiKey = await UserService.GetUserApiKey(user.Id);

        EmailNotifications = await UserService.GetEmailNotifications(user.Id);

        Graphs = await GS.GetUserGraphs(user.Id);
        Tables = await GS.GetUserTables(user.Id);
        BinaryGraphs = await GS.GetUserBinaryGraphItems(user.Id);

        if (Graphs.Count > 0)
        {
            foreach (var graph in Graphs)
            {
                await GetReadings(graph);
            }
        }
        if (Tables.Count > 0)
        {
            foreach (var table in Tables)
            {
                await GetReadings(table);
            }
        }
        if (BinaryGraphs.Count > 0)
        {
            foreach (var graph in BinaryGraphs)
            {
                await GetBinaryReadings();
            }
        }

        timer = new (async _ =>
        {
            if (Graphs.Count > 0)
            {
                foreach (var graph in Graphs)
                {
                    await GetReadings(graph);
                }
            }
            if (Tables.Count > 0)
            {
                foreach (var table in Tables)
                {
                    await GetReadings(table);
                }
            }
            if (BinaryGraphs.Count > 0)
            {
                foreach (var graph in BinaryGraphs)
                {
                    await GetBinaryReadings();
                }
            }

        }, null, 0, 15000);
    }

    private async Task GetReadings(GraphItem item)
    {
        switch (item.DataType)
        {
            case "DistanceReading":
                DistanceReadings = await RS.GetDistanceReadings(user.Id);
                break;
            case "LuminosityReading":
                LuminosityReadings = await RS.GetLuminosityReadings(user.Id);
                break;
            case "TemperatureReading":
                TemperatureReadings = await RS.GetTemperatureReadings(user.Id);
                break;
            case "VelocityReading":
                VelocityReadings = await RS.GetVelocityReadings(user.Id);
                break;
            case "HumidityReading":
                HumidityReadings = await RS.GetHumidityReadings(user.Id);
                break;
        }
    }

    private async Task GetReadings(TableItem tableItem)
    {
        switch (tableItem.ReadingType)
        {
            case ReadingType.Distance:
                DistanceReadings = await RS.GetDistanceReadings(user.Id);
                break;
            case ReadingType.Luminosity:
                LuminosityReadings = await RS.GetLuminosityReadings(user.Id);
                break;
            case ReadingType.Temperature:
                TemperatureReadings = await RS.GetTemperatureReadings(user.Id);
                break;
            case ReadingType.Velocity:
                VelocityReadings = await RS.GetVelocityReadings(user.Id);
                break;
            case ReadingType.Humidity:
                HumidityReadings = await RS.GetHumidityReadings(user.Id);
                break;
        }
    }

    private async Task GetBinaryReadings()
    {
        BinaryReadings = await RS.GetBinaryReadings(user.Id);
        await InvokeAsync(StateHasChanged);
    }

    public async void CreateApiKey()
    {
        var key = await UserService.SetUserApiKey(user.Id);

        ApiKey = key.ApiKeyId;
        StateHasChanged();
    }

    public async void AddGraph()
    {
        var dialog = await DialogService.ShowDialogAsync<DataGraphDialog>(new GraphItem(), new DialogParameters()
            {
                Height = "400px",
                Title = $"Add a new data graph",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true,
                ShowDismiss = false
            });

        var result = await dialog.Result;
        if (!result.Cancelled && result.Data != null)
        {
            GraphItem item = (GraphItem)result.Data;

            item.UserId = user.Id;

            await GS.AddUserGraph(item);

            await GetReadings(item);
            Graphs.Add(item);
            StateHasChanged();
        }
    }

    public async void AddTable()
    {
        var dialog = await DialogService.ShowDialogAsync<TableDialog>(new TableItem(), new DialogParameters()
            {
                Height = "400px",
                Title = $"Add a new data table",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true,
                ShowDismiss = false
            });

        var result = await dialog.Result;
        if (!result.Cancelled && result.Data != null)
        {
            TableItem item = (TableItem)result.Data;

            item.UserId = user.Id;

            await GS.AddUserTable(item);

            await GetReadings(item);
            Tables.Add(item);
            StateHasChanged();
        }
    }

    public async void AddBinaryGraph()
    {
        var dialog = await DialogService.ShowDialogAsync<AddBinaryGraphDialog>(new BinaryGraphItem(), new DialogParameters()
            {
                Height = "400px",
                Title = $"Add a new binary graph",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true,
                ShowDismiss = false
            });

        var result = await dialog.Result;
        if (!result.Cancelled && result.Data != null)
        {
            BinaryGraphItem item = (BinaryGraphItem)result.Data;

            item.UserId = user.Id;

            await GS.AddUserBinaryGraph(item);

            await GetBinaryReadings();
            BinaryGraphs.Add(item);
            StateHasChanged();
        }
    }

    private async Task DeleteApiKey()
    {
        var result = await UserService.DeleteUserApiKeyAsync(ApiKey!);

        if (result) 
        {
            ApiKey = null;
            ToastService.ShowSuccess("API Key has been deleted successfully.", 5000);
        }
        else ToastService.ShowError("There was an error deleting the key.", 5000);
    }

    private async Task RemoveDistanceReadings()
    {
        var dialog = await DialogService.ShowDialogAsync<RemoveDataDialog>(string.Empty, new DialogParameters()
            {
                Height = "230px",
                Title = $"Remove Distance data from sensor",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true,
                ShowDismiss = false
            });

        var result = await dialog.Result;
        if (!result.Cancelled && result.Data != null)
        {
            string item = (string)result.Data;

            var deleteResult = await RS.RemoveDistanceReadings(user.Id, item);

            if (deleteResult)
            {
                DistanceReadings = DistanceReadings.Where(dr => dr.SensorName != item).ToList();
            }
            StateHasChanged();
        }
    }

    private async Task RemoveLuminosityReadings()
    {
        var dialog = await DialogService.ShowDialogAsync<RemoveDataDialog>(string.Empty, new DialogParameters()
            {
                Height = "230px",
                Title = $"Remove Distance data from sensor",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true,
                ShowDismiss = false
            });

        var result = await dialog.Result;
        if (!result.Cancelled && result.Data != null)
        {
            string item = (string)result.Data;

            var deleteResult = await RS.RemoveLuminosityReadings(user.Id, item);

            if (deleteResult)
            {
                LuminosityReadings = LuminosityReadings.Where(lr => lr.SensorName != item).ToList();
            }
            StateHasChanged();
        }
    }

    private async Task RemoveTemperatureReadings()
    {
        var dialog = await DialogService.ShowDialogAsync<RemoveDataDialog>(string.Empty, new DialogParameters()
            {
                Height = "230px",
                Title = $"Remove Distance data from sensor",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true,
                ShowDismiss = false
            });

        var result = await dialog.Result;
        if (!result.Cancelled && result.Data != null)
        {
            string item = (string)result.Data;

            var deleteResult = await RS.RemoveTemperatureReadings(user.Id, item);

            if (deleteResult)
            {
                TemperatureReadings = TemperatureReadings.Where(tr => tr.SensorName != item).ToList();
            }
            StateHasChanged();
        }
    }

    private async Task RemoveVelocityReadings()
    {
        var dialog = await DialogService.ShowDialogAsync<RemoveDataDialog>(string.Empty, new DialogParameters()
            {
                Height = "230px",
                Title = $"Remove Distance data from sensor",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true,
                ShowDismiss = false
            });

        var result = await dialog.Result;
        if (!result.Cancelled && result.Data != null)
        {
            string item = (string)result.Data;

            var deleteResult = await RS.RemoveVelocityReadings(user.Id, item);

            if (deleteResult)
            {
                VelocityReadings = VelocityReadings.Where(vr => vr.SensorName != item).ToList();
            }
            StateHasChanged();
        }
    }

    private async Task RemoveHumidityReadings()
    {
        var dialog = await DialogService.ShowDialogAsync<RemoveDataDialog>(string.Empty, new DialogParameters()
            {
                Height = "230px",
                Title = $"Remove Distance data from sensor",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true,
                ShowDismiss = false
            });

        var result = await dialog.Result;
        if (!result.Cancelled && result.Data != null)
        {
            string item = (string)result.Data;

            var deleteResult = await RS.RemoveHumidityReadings(user.Id, item);

            if (deleteResult)
            {
                HumidityReadings = HumidityReadings.Where(hr => hr.SensorName != item).ToList();
            }
            StateHasChanged();
        }
    }

    private async Task RemoveGraph(string id)
    {
        var result = await GS.DeleteGraph(id);

        if (result)
        {
            Graphs.Remove(Graphs.Find(g => g.Id == id));
        }
    }

    private async Task RemoveTable(string id)
    {
        var result = await GS.DeleteTable(id);

        if (result)
        {
            Tables.Remove(Tables.Find(g => g.Id == id));
        }
    }

    private async Task RemoveBinaryGraph(string id)
    {
        var result = await GS.DeleteBinaryGraph(id);

        if (result)
        {
            BinaryGraphs.Remove(BinaryGraphs.Find(bg => bg.Id == id));
        }
    }

    private async void SetupEmailNotification()
    {
        EmailNotification emailNotification = new() { UserId = user.Id };

        var dialog = await DialogService.ShowDialogAsync<SetEmailNotificationDialog>(emailNotification, new DialogParameters()
            {
                Height = "500px",
                Width = "700px",
                Title = $"Set up a new email alert",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true,
                ShowDismiss = false
            });

        var result = await dialog.Result;
        if (!result.Cancelled && result.Data != null)
        {
            emailNotification = (EmailNotification)result.Data;

            var setupResult = await UserService.AddEmailNotification(emailNotification);

            if (setupResult)
            {
                EmailNotifications = await UserService.GetEmailNotifications(user.Id);
                await InvokeAsync(StateHasChanged);

                ToastService.ShowCommunicationToast(new ToastParameters<CommunicationToastContent>()
                    {
                        Intent = ToastIntent.Success,
                        Title = "Email alert result",
                        Timeout = 5000,
                        Content = new CommunicationToastContent()
                        {
                            Details = "Email alert has been set up successfully!",
                        }
                    });
            }
            else
            {
                ToastService.ShowCommunicationToast(new ToastParameters<CommunicationToastContent>()
                    {
                        Intent = ToastIntent.Error,
                        Title = "Email alert result",
                        Timeout = 5000,
                        Content = new CommunicationToastContent()
                        {
                            Details = "There was an error setting up the email alert!",
                        }
                    });
            }
        }
    }

    private async void OpenEmailNotificationsDialog()
    {
        var dialog = await DialogService.ShowDialogAsync<EmailNotificationsDialog>(EmailNotifications, new DialogParameters()
            {
                Height = "600px",
                Width = "800px",
                Title = $"Your email alerts",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true,
                ShowDismiss = false
            });

        var result = await dialog.Result;
        List<EmailNotification> notificationsList = new();
        if (result.Data != null) notificationsList = (List<EmailNotification>)result.Data;

        if (notificationsList.Count < 1) await InvokeAsync(StateHasChanged);
    }

    async Task CopyToClipboard()
    {
        await ClipboardService.WriteTextAsync(ApiKey!);
        await Task.Delay(TimeSpan.FromSeconds(2), cts.Token);
    }

    public void Dispose()
    {
        cts.Cancel(); // Cancel Task.Delay
        cts.Dispose();
        timer?.Dispose();
    }
}
